/* styles/Footer.css */

:root {
    --green: #019939;
    --black: #000;
  }
  
  .footer_body {
    position: relative;
    background: #222;
    width: 100%;
  }
  
  .footer_con {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  
  .footer_header {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 40px 0 25px 0;
  }
  
  .footer_header h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
  }
  
  .footer_header h1 span {
    color: var(--green);
  }
  
  .footer_email {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 10px;
  }
  
  .email_input_holder {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  
  .email_input {
    width: 75%;
    font-size: 16px;
    padding: 5px 10px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .email_input_btn {
    width: 25%;
    background: var(--green);
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
  }
  
  .footer_email p {
    color: #fff;
    font-weight: 400;
    opacity: .7;
  }
  
  .footer_content {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-between;
    padding: 40px 0 50px 0;
  }

  .footer_lists{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 10px;
  }
  
  .content_intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 20px;
  }
  
  .content_intro p {
    font-size: 17px;
    color: #fff;
    opacity: .8;
  }
  
  .footer_con .social {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  
  .social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
  }
  
  .social_link i {
    color: #000;
  }
  
  .footer_list {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 4px;
  }
  
  .footer_list .list_title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .footer_list li, .footer_list li a, .footer_list li label, .footer_list li label i {
    color: #fff;
  }
  
  .footer_list li a {
    color: #cacaca;
  }
  
  .contact_item {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .contact_item_info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  
  .footer_con hr {
    background: #E9ECF4;
    border: 1px solid #E9ECF4;
  }
  
  .last_hr {
    border: 1px solid #313131;
  }
  .footer_qr{
    display: block;
    margin-top: 5px;
    width: 90px;
  }
  .footer_footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 300;
    padding: 5px 0 5px 0;
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .footer_header h1 {
        font-size: 32px;
        line-height: 48px;
      }
  }
  
  @media (max-width: 768px) {
    .footer_qr{
      display: none;
    }
    .footer_header {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .content_intro{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_header h1 {
      font-size: 32px;
      line-height: 48px;
    }
    .footer_content{
        display: flex;
        flex-direction: column;
    }
  
    .footer_lists {
        width: 100%;
        display: flex;
      flex-direction: row-reverse;
      align-items: start;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }
  
    .footer_list {
        display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .contact_item_info {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .footer_header h1 {
      font-size: 28px;
      line-height: 40px;
    }
  
    .footer_con {
      width: 90%;
    }
  
    .footer_footer {
      width: 90%;
    }
  }
  