:root {
  --light-gray: #f4f4f4;
  --primary-color: #333;
  --secondary-color: #555;
  --white: #fff;
  --gray: #777;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Arial', sans-serif;
  background-color: var(--light-gray);
  color: var(--primary-color);
  background-image: url('../../assets/bg.jpg');
  background-size: contain;
  background-repeat: repeat;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 15px;
  padding: 40px;
  margin-bottom: 50px;
  color: var(--white);
}

.hero-text {
  flex: 1;
  text-align: right;
}

.cool_text {
  font-size: 58px;
  background: linear-gradient(45deg, #0da762, #00ab1f9f, #019939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-text h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 500;
  line-height: 80px;
}

.hero-text h1 p {
  font-weight: 600;
}

.hero-text h1 span {
  font-weight: 700;
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.hero-text .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 30px;
  background: linear-gradient(45deg, #8ddd04, #00ab1f9f, #019939);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: gradient 3s ease infinite;
}

.hero-text .btn:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.hero-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

.services, .team {
  text-align: center;
  margin-bottom: 50px;
}

.services h2, .team h2 {
  font-size: 36px;
  color: var(--primary-color);
}

.section_desc {
  font-size: 16px;
  color: var(--gray);
  margin: 10px 0 30px 0;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
}

.card img {
  width: 60px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: var(--gray);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonials {
  background-color: var(--light-gray);
  border-radius: 20px;
  padding: 20px;
}

.testimonials img {
  border-radius: 50%;
}

.testimonials .review {
  font-size: 16px;
  color: var(--primary-color);
}

.Testimonials__main {
  padding: 0 !important;
}

.Testimonials__main-container {
  background-color: #fff;
  margin: 0 !important;
  border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 5px;
    gap: 20px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
    
  }

  .hero-text .btn {
    padding: 8px 20px;
  }

  .hero-img img {
    width: 100%;
    max-width: 300px;
  }

  .cards {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text .btn {
    padding: 8px 15px;
  }

}
